.login-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.login-img,
.login-div {
  width: 50% !important;
}

.login-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../portal_transparencia_login.png');
}

.login-div {
  text-align: center;
}

.titles {
  margin-top: 10%;
  margin-bottom: 10%;
}

.login-form {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

.label-title {
  font-weight: bold;
}

.form-icon {
  font-size: 25px;
  margin-left: -10px;
}

.form-input {
  min-height: 45px;
  border-radius: 0;
  border-style: none;
  border-bottom: 2px solid;
  margin-top: -20px;
}

.btn {
  min-height: 45px;
  border-radius: 0;
}
