.ant-input-affix-wrapper {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid;
  height: 38px;
  width: 200px;
}

.filtros {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.search-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.ant-btn {
  height: 38px;
}
